api_fingerprint = ""
api_private_key_path = ""
tenancy_id = ""
user_id    = ""
compartment_id = ""
availability_domain = ""
region = ""
cluster_name = ""
ssh_public_key = ""
k8s_version = ""
shape = "VM.Standard.A1.Flex"
os = "Oracle Linux"
os_version = "8"

