---
- hosts: "*"
  remote_user: root
  tasks:
    - name: "Create a temporary file for our secret"
      tempfile:
          state: file
      register: secret_file
      notify:
          - delete secret file
    - name: "Populate the temporary file with the secret"
      copy:
          dest: "{{ secret_file.path }}"
          content: "{{ SECRET_VALUE }}"
    - name: "Check if the secret exists"
      command: docker secret inspect {{ SECRET_KEY }}
      register: docker_secret_inspect
      ignore_errors: yes
    - name: "Remove the docker secret, if it already exists"
      command: docker secret rm {{ SECRET_KEY }}
      when: docker_secret_inspect.rc == 0
    - name: "Create the docker secret"
      command: docker secret create {{ SECRET_KEY }} {{ secret_file.path }}
  handlers:
      - name: delete secret file
        file:
            state: absent
            path: "{{ secret_file.path }}"
