name: Windows OpenSSL
on:
  schedule:
    # Run once a week on Fridays
    - cron: "0 0 * * FRI"
  pull_request:
    paths:
      - '.github/workflows/build-windows-openssl.yml'
      - 'windows/openssl/**'
      # Contains the OpenSSL version we'll build
      - 'cryptography-linux/openssl-version.sh'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-windows-openssl.yml'
      - 'windows/openssl/**'
      # Contains the OpenSSL version we'll build
      - 'cryptography-linux/openssl-version.sh'

jobs:
  build:
    runs-on: ${{ matrix.ARCH.RUNNER }}
    strategy:
      fail-fast: false
      matrix:
        ARCH:
          - {ARCH: "win32", RUNNER: "windows-latest"}
          - {ARCH: "win64", RUNNER: "windows-latest"}
          - {ARCH: "arm64", RUNNER: "windows-11-arm"}
    name: "Build OpenSSL for ${{ matrix.ARCH.ARCH }}"
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          persist-credentials: false
      - run: choco install -y winrar jom
      - run: choco install -y nasm
        if: ${{ matrix.ARCH.ARCH != 'arm64' }}
      - name: Export OpenSSL version
        run: |
          source ./cryptography-linux/openssl-version.sh
          echo "OPENSSL_VERSION=$OPENSSL_VERSION" >> $GITHUB_ENV
          echo "OPENSSL_SHA256=$OPENSSL_SHA256" >> $GITHUB_ENV
          echo "OPENSSL_BUILD_FLAGS_WINDOWS=$OPENSSL_BUILD_FLAGS_WINDOWS" >> $GITHUB_ENV
        shell: bash
      - name: Download OpenSSL source
        run: |
          wget "https://github.com/openssl/openssl/releases/download/${env:OPENSSL_VERSION}/${env:OPENSSL_VERSION}.tar.gz" -OutFile 'openssl-latest.tar.gz'
          if ((Get-FileHash openssl-latest.tar.gz -Algorithm SHA256).Hash -ne $env:OPENSSL_SHA256) {
              Write-Error 'Hashes do not match' -ErrorAction Stop
          }
        shell: powershell
      - run: '"C:\Program Files\WinRAR\WinRAR.exe" -INUL x openssl-latest.tar.gz'
        shell: cmd
      - run: windows\openssl\build_openssl.bat ${{ matrix.ARCH.ARCH }}
        shell: cmd
      - uses: actions/upload-artifact@v4.6.2
        with:
          name: "openssl-${{ matrix.ARCH.ARCH }}"
          path: build\
